<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paris Apostolopoulos - Coding projects</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/styles/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main_style.css">

    <script src="assets/scripts/vue.js"></script>
  </head>


  <body>
    <div id="divContainer"> <!--Beginning of the Vue instance-->
      <div
      id="divTransform"
      :class="{divContainerVanilla: active[0].Vanilla, divContainerVue: active[1].Vue, divContainerjQuery: active[2].jQuery}">

        <header>
          <div class="divHeaderTitle">
            <h1>Coding Projects - Paris Apostolopoulos</h1>
          </div>
          <nav>
            <ul>
              <li v-for="section in sections"
              v-if="section.active"
              :name="section.text"
              :text = "section.text"
              style="color: black;">
                {{section.text}}
              </li>

              <li
              v-else
              :name="section.text"
              @mouseover="classTransitionOver($event)"
              @mouseout="classTransitionLeave($event)">

                <a
                :key="section.id"
                :name="section.text"
                @click="classChange($event)">
                  {{section.text}}
                </a>
              </li>
            </ul>
          </nav>
        </header>



        <main>
          <div id="divCarousel">
            <div class="divArrow" id="divArrowLeft">
              <i class="fas fa-angle-left"></i>
            </div>

              <section id="sectionCarouselArea"
              style="font-size: 30px; margin: 80px; color: black;">

                <article v-for="(project, index) in projects"
                v-if="project.language === activeModals"
                :id="'carousel'+project.id"
                :key="project.key">
                <a v-on:click="modalOpen">
                  {{project.key}} This is the link for the carousel
                </a>
                </article>

              </section>


            <div class="divArrow" id="divArrowRight">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
        </main>




        <footer>
          <span>
            <a href="mailto: papostolopoulos@protonmail.com"
            title="Email me at papostolopoulos@protonmail.com">
              <i class="fas fa-envelope"></i>
            </a> |
            <a href="https://www.linkedin.com/in/parisapostolopoulos/" target="_blank" title="Visit my LinkedIn page">
              <i class="fab fa-linkedin-in"></i>
            </a> |
            <a href="https://github.com/papostolopoulos" target="_blank" title="Visit my github page">
              <i class="fab fa-github"></i>
            </a> |
            <a href="https://docs.google.com/document/d/1lPWcJ7GO5fzVQGeyxt9YIF_g22C0Qkr0Cznon-z514I/edit?usp=sharing" target="_blank" title="Read a copy of my resume">
              <i class="fas fa-file"></i>
            </a> |
            &copy 2018 - today
          </span>
        </footer>

      </div> <!--End of divTransform. This is where all the transition of vanilla, vue and jquery happens-->



      <!-- MODALS -->
      <section id="sectionProjects">
        <article v-for="(project, index) in projects"
        v-if="project.language === activeModals"
        :id="'modal-'+project.id"
        :key="project.key"
        class="articleModals"
        v-bind:style="project.bgImage"
        >


        <div class="divModalContainer">

          <div class="divCloseModal">&times;</div>


          <!--COLORS: 80% lighter and 20% darker of original background color
          used in the main page. Colors picked as per https://www.w3schools.com/colors/colors_picker.asp
          Vanilla original: rgb(250, 220, 52) - 80% 20%
          Vue original: rgb(66, 184, 131)
          jQuery original: rgb(18, 26, 38) -->
          <div class="divModalLeft"
          :style="project.language === 'Vanilla' ? 'backgroundColor : rgba(254, 246, 205, .8); color: rgb(100, 85, 2);' :
                  project.language === 'Vue' ? 'backgroundColor : rgba(180, 228, 206, .8); color: rgb(27, 75, 53);' :
                  project.language === 'jQuery' ? 'backgroundColor : rgba(186, 200, 222, .8); color: rgb(18, 26, 38);' :
                  null"
          >
            <div class="divModalLeftL1">
              <h1>
                {{project.title}} |
                <a :href="project.url" target="_blank" title="Check out the web page"><i class="fas fa-link"></i></a>
              </h1>
              <ul>
                <li v-for="list in project.description">{{list.bullet}}</li>
              </ul>
              Include title, link to url, link to github, code area, description (v-for), video area.
            </div>



            <div class="divModalLeftL2">
            </div> <!--End of divModalLeftL2-->



            <div class="divModalLeftL3">
              <div class="divImageScreenshots" v-for="(images, idx) in project.images">
                <!-- screenshot icons of the images -->
                <a v-on:click="imageModalOpen($event)">
                  <img :src="images.image" alt="" class="imgIcons">
                </a>

                <!-- Image modal -->
                <div class="divImageModal">
                  <div class="divImageModalClose">
                    <a v-on:click.stop="imageModalClose($event)">&times;</a>
                  </div>

                  <div class="divImageModalContent">
                    <img :src="images.image" alt="" class="divImageModalImage">
                  </div>
                </div> <!--End of divImageModal-->

              </div> <!--End of divImageScreenshots-->

            </div> <!--End of divModalLeftL3-->
          </div> <!--End of divModalLeft-->




          <div class="divModalRight">
            <div class="divModalRightHeading">
              <h2>
                Sample code |
                <a :href="project.git" target="_blank" title="Check out the github page">
                  <i class="fab fa-github"></i>
                </a>
              </h2>

              <hr>
            </div>
            <code>
              <pre>
              body{
                font: normal normal 2vh 'Montserrat', Helvetica, sans-serif;
                color: white;
                box-sizing: border-box;
              }

              h1{
                font-size: 3vh;
                /* font-weight: 1000; */
              }

              nav {
                margin: auto;
                text-align: center;
                width: 80vw;
                position: absolute;
                left: 10vw;
                top: 3vh;
              }

              nav ul li {
                display: inline-block;
                font-size: 4vh;
                padding: 1vh 2vw;
                width: 14vw;
              }

              #divContainer{

              }

              .divContainerVanilla, .divContainerVue, .divContainerjQuery, .divHoverClassVanilla, .divHoverClassVue, .divHoverClassjQuery{
                align-items: center;
                display: flex;
                justify-content: center;
                position: relative;
                width: 100vw;
                height: 100vh;
                background-position:center;
                background-repeat: no-repeat;
                background-size: 90vh;
              }

              .divContainerVanilla{
                background-color: rgb(250, 220, 52);
                background-image: url("../images/logo-javascript.png");
                box-shadow: inset 100vw 100vh rgba(250, 220, 52, .5);
              }

              .divContainerVue{
                background-image: url("../images/logo-vue.png");
                box-shadow: inset 100vw 100vh rgba(66, 184, 131, .5);
                /* background-color: rgb(66, 184, 131); */
                /* background-color: rgb(52, 72, 92); */
                /* box-shadow: inset 100vw 100vh rgba(52, 72, 92, .5); */
              }

              .divContainerjQuery{
                background-image: url("../images/logo-jquery.png");
                box-shadow: inset 100vw 100vh rgba(18, 26, 38, .5);
                /* background-color: rgb(18, 26, 38); */
              }

              .divHoverClassVanilla {
                background-color: rgb(250, 220, 52);
                background-image: url("../images/logo-javascript.png");
                box-shadow: inset 100vw 100vh rgba(250, 220, 52, .5);
                transition: all 2s;
              }

              .divHoverClassVue {
                background-image: url("../images/logo-vue.png");
                box-shadow: inset 100vw 100vh rgba(66, 184, 131, .5);
                transition: all 2s;
              }

              .divHoverClassjQuery {
                background-image: url("../images/logo-jquery.png");
                box-shadow: inset 100vw 100vh rgba(18, 26, 38, .5);
                transition: all 2s;
              }

              header{
                align-self: flex-start;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 10vh;
                position: absolute;
                width: 100vw;
                text-align: center;
              }
              </pre>
            </code>

          </div> <!--End of divModalRight-->



        </div> <!--End of divModalContainer-->
      </article>
    </section>

  </div> <!-- END OF TAG THAT CONTAINS THE VUE INSTANCE - divContainer-->


    <script src="assets/scripts/main-new.js"></script>
  </body>
</html>
