<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <title>Paris Apostolopoulos - Coding projects</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/styles/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main_style.css">

    <script src="assets/scripts/vue.js"></script>
  </head>


  <body>
    <div id="divContainer"> <!--Beginning of the Vue instance-->
      <div
      id="divTransform"
      :class="{divContainerVanilla: active[0].Vanilla, divContainerVue: active[1].Vue, divContainerjQuery: active[2].jQuery}">

        <header>
          <div class="divHeaderTitle">
            <h1>Coding Projects - Paris Apostolopoulos</h1>
          </div>
          <nav>
            <ul>
              <li v-for="section in sections"
              v-if="section.active"
              :name="section.text"
              :text = "section.text"
              style="color: black;">
                {{section.text}}
              </li>

              <li
              v-else
              :name="section.text"
              @mouseover="classTransitionOver($event)"
              @mouseout="classTransitionOut($event)">

                <a
                :key="section.id"
                :name="section.text"
                @click="headersClassChange($event)">
                  {{section.text}}
                </a>
              </li>
            </ul>
          </nav>
        </header>



        <main>
          <div id="divCarousel">
            <div class="divArrow" id="divArrowLeft" @click.stop="changePage">
              <i class="fas fa-angle-left" id="arrowLeft"></i>
            </div>

              <section class="sectionCarouselArea"
              :class="{sectionCarouselAreaFontVanilla: active[0].Vanilla,
                      sectionCarouselAreaFontVue: active[1].Vue,
                      sectionCarouselAreaFontjQuery: active[2].jQuery,
                      }"
              >

                <article v-for="(project, index) in projects"
                class="articleProjectTitle"
                v-if="project.language === activeModals"
                :id="'carousel'+project.id"
                :key="project.key"
                >
                <!-- :href="'#modal-'+project.id" -->
                <a @click="modalOpen"
                :id = "'aModalOpen-' + project.id"
                >
                  {{project.key}}: {{project.title}}
                </a>
                <span class="spanBubble spanBubbleProjectDescription"
                :class="{spanBubbleBackgroundVanilla: active[0].Vanilla, spanBubbleBackgroundVue: active[1].Vue, spanBubbleBackgroundjQuery: active[2].jQuery}"
                >
                  {{project.highlights[0].fact}}
                </span>
                </article>

              </section>


            <div class="divArrow" id="divArrowRight" @click.stop="changePage">
              <i class="fas fa-angle-right" id="ArrowRight"></i>
            </div>
          </div>
        </main>




        <footer>
          <div class="divFooterElement">
            <a href="mailto: papostolopoulos@protonmail.com">
              <i class="fas fa-envelope"></i>
            </a>
            <span class="spanBubble spanBubbleWebsiteLink spanBubbleFooterPosition"
            :class="{spanBubbleBackgroundVanilla: active[0].Vanilla, spanBubbleBackgroundVue: active[1].Vue, spanBubbleBackgroundjQuery: active[2].jQuery}"
            >
            Email me
          </span>
          </div>
          |
          <div class="divFooterElement">
            <a href="https://www.linkedin.com/in/parisapostolopoulos/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <span class="spanBubble spanBubbleWebsiteLink spanBubbleFooterPosition"
            :class="{spanBubbleBackgroundVanilla: active[0].Vanilla, spanBubbleBackgroundVue: active[1].Vue, spanBubbleBackgroundjQuery: active[2].jQuery}"
            >
            My LinkedIn page
          </span>
          </div>
          |
          <div class="divFooterElement">
            <a href="https://github.com/papostolopoulos" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <span class="spanBubble spanBubbleWebsiteLink spanBubbleFooterPosition"
            :class="{spanBubbleBackgroundVanilla: active[0].Vanilla, spanBubbleBackgroundVue: active[1].Vue, spanBubbleBackgroundjQuery: active[2].jQuery}"
            >
            My github page
          </span>
          </div>
          |
          <div class="divFooterElement">
            <a href="https://docs.google.com/document/d/1lPWcJ7GO5fzVQGeyxt9YIF_g22C0Qkr0Cznon-z514I/edit?usp=sharing" target="_blank">
              <i class="fas fa-file"></i>
            </a>
            <span class="spanBubble spanBubbleWebsiteLink spanBubbleFooterPosition"
            :class="{spanBubbleBackgroundVanilla: active[0].Vanilla, spanBubbleBackgroundVue: active[1].Vue, spanBubbleBackgroundjQuery: active[2].jQuery}"
            >
            My resume
          </span>
          </div>
          |
          <div class="divFooterElement">
            &copy 2018 - today
          </div>
        </footer>

      </div> <!--End of divTransform. This is where all the transition of vanilla, vue and jquery happens-->



      <!-- MODALS -->
      <section id="sectionProjects">
        <article v-for="(project, index) in projects"
        v-if="project.language === activeModals"
        :id="'modal-'+project.id"
        :key="project.key"
        class="articleModals"
        v-bind:style="project.bgImage"
        >


        <div class="divModalContainer">

          <div
          class="divCloseModal"
          :class="{borderVanilla: active[0].Vanilla,
                  fontVanilla: active[0].Vanilla,
                  borderVue: active[1].Vue,
                  fontVue: active[1].Vue,
                  borderjQuery: active[2].jQuery,
                  fontjQuery: active[2].jQuery
                  }"
          :id="'divCloseModal-' + project.id"
          >
            <i class="far fa-times-circle" @click="modalClose"></i>
            <!-- &times; -->
          </div>



          <div class="divModalLeft" :id="'divModalLeft-'+project.id" @click.stop="divCodeModalClose($event)">
            <!-- <div class="divModalLeftHeaderContainer"> -->

              <div class="divModalLeftHeader">
                <h2>
                  <a @click="expandCodeModal($event)">Sample code</a> |
                  <a :href="project.git" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                  <span class="spanBubble spanBubbleWebsiteLink"
                  :class="{spanBubbleBackgroundVanilla: active[0].Vanilla, spanBubbleBackgroundVue: active[1].Vue, spanBubbleBackgroundjQuery: active[2].jQuery}"
                  >
                    Link to github page
                  </span>
                </h2>
              </div> <!--End of divModalLeftHeader-->
              <div class="divCodeModalClose">
                <i class="far fa-times-circle" @click="codeModalClose($event)"></i>
              </div>
              <hr>


            <!-- </div>  -->
            <!--End of divModalLeftHeaderContainer -->
            <code>
              <pre>
                {{project.code}}

              </pre>
            </code>

          </div> <!--End of divModalLeft-->





          <!--COLORS: 80% lighter and 20% darker of original background color
          used in the main page. Colors picked as per https://www.w3schools.com/colors/colors_picker.asp
          Vanilla original: rgb(250, 220, 52) - 80% 20%
          Vue original: rgb(66, 184, 131)
          jQuery original: rgb(18, 26, 38) -->
          <div class="divModalRight"
          :id="'divModalRight-'+project.id"
          :class="{fontVanilla: active[0].Vanilla,
                  fontVue: active[1].Vue,
                  fontjQuery: active[2].jQuery
                  }"
          :style="project.language === 'Vanilla' ? 'backgroundColor : rgba(254, 246, 205, .8);' :
                  project.language === 'Vue' ? 'backgroundColor : rgba(180, 228, 206, .8);' :
                  project.language === 'jQuery' ? 'backgroundColor : rgba(186, 200, 222, .8);' :
                  null"
          >


            <div class="divModalRightL1">
              <h1>
                {{project.title}} |
                <a :href="project.url" target="_blank"><i class="fas fa-link"></i></a>
                <span class="spanBubble spanBubbleWebsiteLink"
                :class="{spanBubbleBackgroundVanilla: active[0].Vanilla, spanBubbleBackgroundVue: active[1].Vue, spanBubbleBackgroundjQuery: active[2].jQuery}"
                >
                  Link to web page
                </span>
              </h1>
              <ul>
                <li v-for="list in project.description">{{list.bullet}}</li>
              </ul>
            </div>



            <div class="divModalRightL2">
              <div class="divHighlights"
              :class="{borderVanilla: active[0].Vanilla, borderVue: active[1].Vue, borderjQuery: active[2].jQuery}"
              >
                  {{project.highlights[counter].fact}}
              </div>
            </div>



            <div class="divModalRightL3">
              <div class="divVideoContainer">
                <iframe
                class="videoInModal"
                :class="{borderVanilla: active[0].Vanilla, borderVue: active[1].Vue, borderjQuery: active[2].jQuery}"
                :id="'video-'+project.id"
                :src="project.video_url"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                </iframe>
                <!-- Deactivated so that I test the Youtube iFrame -->
                <!-- <video controls
                class="videoInModal"
                :id="'video-'+project.id"
                :class="{borderVanilla: active[0].Vanilla, borderVue: active[1].Vue, borderjQuery: active[2].jQuery}"
                >
                  <source :src="project.video_url" type="video/mp4">
                </video> -->
              </div> <!--End of Video container-->



              <!-- Image screenshots -->
              <div class="divImageIcon"
              :src="project.images[counter].image"

              @click="imageModalOpen($event)"
              :style="{backgroundImage: 'url('+project.images[counter].image+')'}"
              :class="{borderVanilla: active[0].Vanilla, borderVue: active[1].Vue, borderjQuery: active[2].jQuery}"
              :id="'imageScreenshot' + counter +'-'+project.id"
              :alt="'imageScreenshot'+ counter +'-'+project.id+'. Click to view a larger image'"
              >
              <!-- v-for="(images, idx) in project.images" -->

              </div> <!--End of divImageIcon-->

              <!-- Image modal -->
              <div
              class="divImageModal"
              :id="'divImageModal'+idx+'-'+project.id"
              v-for="(images, idx) in project.images"
              >

                <div class="divImageModalClose">
                  <i class="far fa-times-circle" @click="imageModalClose($event)"></i>
                    <!-- &times; -->
                </div>

                <div class="divImageModalContent">
                  <img :src="images.image" alt="" class="divImageModalImage">
                </div>
              </div> <!--End of divImageModal-->



            </div> <!--End of divModalRightL3-->



            <div class="divModalRightL2">




            </div> <!--End of divModalRightL2-->
          </div> <!--End of divModalRight-->




        </div> <!--End of divModalContainer-->
      </article>
    </section>

  </div> <!-- END OF TAG THAT CONTAINS THE VUE INSTANCE - divContainer-->


    <script src="assets/scripts/main.js"></script>
  </body>
</html>
