<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paris Apostolopoulos - Coding projects</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/styles/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main_style.css">

    <script src="assets/scripts/vue.js"></script>
  </head>


  <body>
    <div id="divContainer"> <!--Beginning of the Vue instance-->
      <div
      id="divTransform"
      :class="{divContainerVanilla: active[0].Vanilla, divContainerVue: active[1].Vue, divContainerjQuery: active[2].jQuery}">

        <header>
          <div class="divHeaderTitle">
            <h1>Coding Projects - Paris Apostolopoulos</h1>
          </div>
          <nav>
            <ul>
              <li v-for="section in sections"
              v-if="section.active"
              :name="section.text"
              :text = "section.text"
              style="color: black;">
                {{section.text}}
              </li>

              <li
              v-else
              :name="section.text"
              @mouseover="classTransitionOver($event)"
              @mouseout="classTransitionLeave($event)">

                <a
                :key="section.id"
                :name="section.text"
                @click="classChange($event)">
                  {{section.text}}
                </a>
              </li>
            </ul>
          </nav>
        </header>



        <main>
          <div id="divCarousel">
            <div class="divArrow" id="divArrowLeft">
              <i class="fas fa-angle-left"></i>
            </div>

              <section id="sectionCarouselArea"
              style="font-size: 30px; margin: 80px; color: black;">

                <article v-for="(project, index) in projects"
                v-if="project.language === activeModals"
                :id="'carousel'+project.id"
                :key="project.key">
                <a @click="modalOpen">
                  {{project.key}} This is the link for the carousel
                </a>
                </article>

              </section>


            <div class="divArrow" id="divArrowRight">
              <i class="fas fa-angle-right"></i>
            </div>
          </div>
        </main>




        <footer>
          <span>
            <a href="mailto: papostolopoulos@protonmail.com"
            title="Email me at papostolopoulos@protonmail.com">
              <i class="fas fa-envelope"></i>
            </a> |
            <a href="https://www.linkedin.com/in/parisapostolopoulos/" target="_blank" title="Visit my LinkedIn page">
              <i class="fab fa-linkedin-in"></i>
            </a> |
            <a href="https://github.com/papostolopoulos" target="_blank" title="Visit my github page">
              <i class="fab fa-github"></i>
            </a> |
            <a href="https://docs.google.com/document/d/1lPWcJ7GO5fzVQGeyxt9YIF_g22C0Qkr0Cznon-z514I/edit?usp=sharing" target="_blank" title="Read a copy of my resume">
              <i class="fas fa-file"></i>
            </a> |
            &copy 2018 - today
          </span>
        </footer>

      </div> <!--End of divTransform. This is where all the transition of vanilla, vue and jquery happens-->



      <!-- MODALS -->
      <section id="sectionProjects">
        <article v-for="(project, index) in projects"
        v-if="project.language === activeModals"
        :id="'modal-'+project.id"
        :key="project.key"
        class="articleModals"
        v-bind:style="project.bgImage"
        >


        <div class="divModalContainer">

          <div
          class="divCloseModal"
          :class="{articleModalsBorderVanilla: active[0].Vanilla,
                  articleModalsFontVanilla: active[0].Vanilla,
                  articleModalsBorderVue: active[1].Vue,
                  articleModalsFontVue: active[1].Vue,
                  articleModalsBorderjQuery: active[2].jQuery,
                  articleModalsFontjQuery: active[2].jQuery
                  }"
          >
            &times;
          </div>



          <div class="divModalLeft" :id="'divModalLeft-'+project.id">
            <!-- <div class="divModalLeftHeaderContainer"> -->

              <div class="divModalLeftHeader">
                <h2>
                  <a @click="expandCodeModal($event)">Sample code</a> |
                  <a :href="project.git" target="_blank" title="Check out the github page">
                    <i class="fab fa-github"></i>
                  </a>
                </h2>
              </div>

              <div class="divCodeModalClose">
                <a @click="codeModalClose($event)">&times;</a>
              </div>
              <hr>

            <!-- </div>  -->
            <!--End of divModalLeftHeaderContainer -->
            <code>
              <pre>
                {{project.code}}

              </pre>
            </code>

          </div> <!--End of divModalLeft-->





          <!--COLORS: 80% lighter and 20% darker of original background color
          used in the main page. Colors picked as per https://www.w3schools.com/colors/colors_picker.asp
          Vanilla original: rgb(250, 220, 52) - 80% 20%
          Vue original: rgb(66, 184, 131)
          jQuery original: rgb(18, 26, 38) -->
          <div class="divModalRight"
          :id="'divModalRight-'+project.id"
          :class="{articleModalsFontVanilla: active[0].Vanilla,
                  articleModalsFontVue: active[1].Vue,
                  articleModalsFontjQuery: active[2].jQuery
                  }"
          :style="project.language === 'Vanilla' ? 'backgroundColor : rgba(254, 246, 205, .8);' :
                  project.language === 'Vue' ? 'backgroundColor : rgba(180, 228, 206, .8);' :
                  project.language === 'jQuery' ? 'backgroundColor : rgba(186, 200, 222, .8);' :
                  null"
          >
            <div class="divModalRightL1">
              <h1>
                {{project.title}} |
                <a :href="project.url" target="_blank" title="Check out the web page"><i class="fas fa-link"></i></a>
              </h1>
              <ul>
                <li v-for="list in project.description">{{list.bullet}}</li>
              </ul>
            </div>



            <div class="divModalRightL2">
              <div class="divVideoContainer">
                <video controls
                class="videoInModal"
                :id="'video-'+project.id"
                :class="{articleModalsBorderVanilla: active[0].Vanilla, articleModalsBorderVue: active[1].Vue, articleModalsBorderjQuery: active[2].jQuery}"
                >
                <!-- :style="project.language === 'Vanilla' ? 'border: 2px solid rgb(100, 85, 2);' :
                        project.language === 'Vue' ? 'border: 2px solid rgb(27, 75, 53);' :
                        project.language === 'jQuery' ? 'border: 2px solid rgb(18, 26, 38);' :
                        null" -->
                  <source :src="project.video_url" type="video/mp4">
                  </video>
              </div>
            </div> <!--End of divModalRightL2-->



            <div class="divModalRightL3">


              <!-- Image screenshots -->
              <div class="divImageIcon"
              v-for="(images, idx) in project.images"
              @click="imageModalOpen($event)"
              :style="{backgroundImage: 'url('+project.images[idx].image+')'}"
              :class="{articleModalsBorderVanilla: active[0].Vanilla, articleModalsBorderVue: active[1].Vue, articleModalsBorderjQuery: active[2].jQuery}"
              :id="'imageScreenshot'+idx+'-'+project.id"
              :alt="'imageScreenshot'+idx+'-'+project.id+'. Click to view a larger image'"
              >

              </div> <!--End of divImageIcon-->

              <!-- Image modal -->
              <div
              class="divImageModal"
              :id="'divImageModal'+idx+'-'+project.id"
              v-for="(images, idx) in project.images"
              >

                <div class="divImageModalClose">
                  <a @click="imageModalClose($event)">&times;</a>
                </div>

                <div class="divImageModalContent">
                  <img :src="images.image" alt="" class="divImageModalImage">
                </div>
              </div> <!--End of divImageModal-->


            </div> <!--End of divModalRightL3-->
          </div> <!--End of divModalRight-->




        </div> <!--End of divModalContainer-->
      </article>
    </section>

  </div> <!-- END OF TAG THAT CONTAINS THE VUE INSTANCE - divContainer-->


    <script src="assets/scripts/main-new.js"></script>
  </body>
</html>
