body{
  font: normal normal 2vh 'Montserrat', Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
}

#divContainer{
  /* height: 100vh; */
}

.divContainerVanilla, .divContainerVue, .divContainerjQuery{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.divContainerVanilla{
  background-color: rgb(250, 220, 52);
  background-image: url("../images/logo-javascript.png");
  box-shadow: inset 100vw 100vh rgba(250, 220, 52, .5);
  background-position:center;
  background-repeat: no-repeat;
  background-size: 90vh;
  width: 100vw;
  height: 100vh;
}

.divContainerVue{

}

.divContainerjQuery{

}

header{
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  position: absolute;
  width: 100vw;
  text-align: center;
}

.divHeaderTitle{
  height: 100%;
  position: absolute;
  top: 0;
  width: 80vw;
}

h1{
  font-size: 3vh;
  font-weight: 1000;
}

nav {
  margin: auto;
  text-align: center;
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 3vh;
}

nav ul li {
  display: inline-block;
  font-size: 4vh;
  margin: 1vh 2vw;
  width: 14vw;
}

#divCarousel{
  background-color: rgba(250, 250, 250, .4);
  border-radius: 5%;
  height: 80vh;
  width: 90vw;
}

footer{
  align-self: flex-end;
  border-top: 2px solid white;
  font-size: 3vh;
  font-weight: 600;
  height: 8vh;
  position: absolute;
  text-align: center;
  width: 90vw;
}

footer span a{
  color: white;
  text-decoration: none;
}

footer span a:hover{
  color: black;
}
