body{
  font: normal normal 2vh 'Montserrat', Helvetica, sans-serif;
}

#divContainer{
  height: 100vh;
  align-items: center;
  background-color: rgb(250, 220, 52);
  background-image: url("../images/logo-javascript.png");
  box-shadow: inset 100vw 100vh rgba(250, 220, 52, .5);
  background-position:center;
  background-repeat: no-repeat;
  background-size: 90vh;
  display: flex;
  justify-content: center;
  position: relative;
}

header{
  align-self: flex-start;
  display: flex;
  height: 8vh;
  position: absolute;
  width: 100vw;
}

footer{
  align-self: flex-end;
  background-color: lightgreen;
  height: 8vh;
  position: absolute;
  width: 100vw;
}

nav {
  margin: auto;
  text-align: center;
  width: 80vw;
}

nav ul li {
  color: white;
  display: inline-block;
  font-size: 4vh;
  margin: 1vh 2vw;
  width: 14vw;
}
