*{
  box-sizing: border-box;
}

body{
  font: normal normal 2vh 'Montserrat', Helvetica, sans-serif;
  color: white;
}

h1{
  font-size: 3vh;
}

nav {
  margin: auto;
  text-align: center;
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 3vh;
}

nav ul li {
  display: inline-block;
  font-size: 4vh;
  padding: 1vh 2vw;
  width: 14vw;
}

.divContainerVanilla, .divContainerVue, .divContainerjQuery, .divHoverClassVanilla, .divHoverClassVue, .divHoverClassjQuery{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 90vh;
}

.divContainerVanilla{
  background-color: rgb(250, 220, 52);
  background-image: url("../images/logo-javascript.png");
  box-shadow: inset 100vw 100vh rgba(250, 220, 52, .5);
}

.divContainerVue{
  background-image: url("../images/logo-vue.png");
  box-shadow: inset 100vw 100vh rgba(66, 184, 131, .5);
  /* background-color: rgb(66, 184, 131); */
  /* background-color: rgb(52, 72, 92); */
  /* box-shadow: inset 100vw 100vh rgba(52, 72, 92, .5); */
}

.divContainerjQuery{
  background-image: url("../images/logo-jquery.png");
  box-shadow: inset 100vw 100vh rgba(18, 26, 38, .5);
  /* background-color: rgb(18, 26, 38); */
}

.divHoverClassVanilla {
  background-color: rgb(250, 220, 52);
  background-image: url("../images/logo-javascript.png");
  box-shadow: inset 100vw 100vh rgba(250, 220, 52, .5);
  transition: all 2s;
}

.divHoverClassVue {
  background-image: url("../images/logo-vue.png");
  box-shadow: inset 100vw 100vh rgba(66, 184, 131, .5);
  transition: all 2s;
}

.divHoverClassjQuery {
  background-image: url("../images/logo-jquery.png");
  box-shadow: inset 100vw 100vh rgba(18, 26, 38, .5);
  transition: all 2s;
}

header{
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  position: absolute;
  width: 100vw;
  text-align: center;
}

.divHeaderTitle{
  height: 100%;
  position: absolute;
  top: 0;
  width: 80vw;
}

#divCarousel{
  background-color: rgba(250, 250, 250, .4);
  border-radius: 5%;
  height: 80vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sectionCarouselArea {
  font-size: 30px;
  margin: 80px;
  color: white;
  position: relative;
}

/* This is for making sure that I can display the spanBubble
when hovering over the project titles */
.articleProjectTitle{
  position: relative;
}

.sectionCarouselAreaFontVanilla {
  text-shadow: 1px 1px 2px rgb(100, 85, 2);
}

.sectionCarouselAreaFontVue {
  text-shadow: 1px 1px 2px rgb(27, 75, 53);
}

.sectionCarouselAreaFontjQuery {
  color: rgb(18, 26, 38);
  text-shadow: 1px 1px 2px rgb(18, 26, 38);
}

.divArrow{
  width: 5vw;
  height: 10vh;
  position: absolute;
  font-size: 10vh;
  text-align: center;
  line-height: 10vh;
  transition-property: color;
  transition-duration: 300ms;
}

.divArrow:hover {
  color: black;
  cursor: pointer;
}

.divArrow:active {
  color: gray;
}

#divArrowLeft {
  left: 1vw;
  top: 35vh;
}

#divArrowRight {
  right: 1vw;
  top: 35vh;
}


.spanBubble{
  font-size: .5em;
  position: absolute;
  padding: 5px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  border-radius: 5%;
  color: white;
  text-align: center;
}

.spanBubbleProjectDescription{
  width: 250px;
  left: -260px;
}

.spanBubbleWebsiteLink{
  margin-left: 10px;
}

a:hover + .spanBubble{
  visibility: visible;
  z-index: 1;
  opacity: 1;
}

.spanBubbleBackgroundVanilla{
  background-color: rgb(250, 220, 52);
}

.spanBubbleBackgroundVue{
  background-color: rgb(66, 184, 131, .5);
}

.spanBubbleBackgroundjQuery{
  background-color: rgba(18, 26, 38, .5);
}

footer{
  align-self: flex-end;
  border-top: 2px solid white;
  font-size: 4vh;
  font-weight: 600;
  height: 8vh;
  position: absolute;
  text-align: center;
  width: 90vw;
}

footer span{
  line-height: 8vh;
}

a{
  color: white;
  text-decoration: none;
  transition-property: color;
  transition-duration: 300ms;
}

a:hover{
  color: black;
  cursor: pointer;
}

.articleModals{
  /* color: black; */
  color: white;
/* OPEN THE FOLLOWING TWO WHEN YOU ARE READY */
  position: fixed; /*activate position to fixed when done with formatting modal*/
  display: none; /*Put it back to "none" when you are done with formatting*/
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.borderVanilla{
  border: 2px solid rgb(100, 85, 2);
}

.fontVanilla{
  color: rgb(100, 85, 2);
}

.borderVue{
  border: 2px solid rgb(27, 75, 53);
}

.fontVue{
  color: rgb(27, 75, 53);
}

.borderjQuery{
  border: 2px solid rgb(18, 26, 38);
}

.fontjQuery{
  color: rgb(18, 26, 38);
}

.articleModals h1{
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

.articleModals h2{
  font-size: 4vh;
  padding-top: 1vh;
  text-align: center;
}

.divCloseModal{
  border: none;
  border-radius: 50%;
  font-size: 7vh;
  height: 8vh;
  position: fixed;
  right: 3vh;
  top: 3vh;
  width: 8vh;
  transition-duration: 300ms;
  transition-property: color;
  z-index: 1;
}

.divCloseModal:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.divModalContainer{
  width: 96vw;
  height: 96vh;
  margin: auto;
  font-size: 3vh;
  position: relative;
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "divModalLeft divModalRight" "divModalLeft divModalRight";
  grid-column-gap: .5vw;
}

.divModalRight{
  box-sizing: border-box;
  width: 64vw;
  height: 96vh;
  grid-area: divModalRight;
  padding: 10px;
}

.divModalRightL1{
  height: 30%;
}

.divModalRightL1 ul li{
  list-style-type: circle;
  list-style-position: inside;
}

.divModalRightL2{
  height: 20%;
}

.divModalRightL3{
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "divVideoContainer divImageIcon";
  /* align-items: center;
  justify-content: center; */
}

.divVideoContainer{
  /* align-self: center; */
  grid-area: divVideoContainer;
  width: 31vw;
  height: 40vh;
}

.videoInModal{
  box-sizing: border-box;
  height: inherit;
  width: inherit;
}

.divModalRightL2{
  box-sizing: border-box;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divImageIcon{
  grid-area: divImageIcon;
  box-sizing: border-box;
  height: 40vh;
  width: 31vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.divImageIcon:hover {
  cursor: pointer;
  border: 2px solid black;
  box-shadow: inset 100vw 100vh rgba(0, 0, 0, .2);
}

.divImageModal{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 2s;
}

.divImageModalContent{
  width: 80vw;
  height: 80vh;
  text-align: center;
}

.divImageModalImage{
  height: 100%;
}

.divModalLeft{
  box-sizing: border-box;
  width: 32vw;
  background-color: rgba(0,0,0,.6);
  height: 96vh;
  overflow: auto;
  color: white;
  grid-area: divModalLeft;
  padding: 0 10px;
}

.divImageModalClose{
  display: table;
}

.divImageModalClose a font{
  /* line-height: 16vh; */
}

.divCodeModalClose, .divImageModalClose{
  position: fixed;
  font-size: 7vh;
  right: 3vh;
  top: 3vh;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  color: white;
  transition-property: color;
  transition-duration: 300ms;
}

.divCodeModalClose:hover, .divImageModalClose:hover{
  color: black;
  cursor: pointer;
}

.divModalLeft hr{
  margin-bottom: 20px;
  width: 80%;
  position: sticky;
  top: 60px;
}

code{
  font: normal normal 2vh courier;
}

.divModalLeftHeader{
  position: sticky;
  top: 15px;
}
